Repository chalmersproject/openshelter: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn fmt:partial, yarn fix:cops:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

.lintstagedrc.json:

{
  "*.{rb,js,jsx,ts,tsx,css,md,html,json,yaml,yml}": "yarn fmt:partial",
  "*.rb": "yarn fix:cops:partial",
  "*.{js,jsx,ts,tsx}": "yarn fix:eslint:partial",
  "*.{ts,tsx}": "yarn lint:tsc:partial"
}

woahh!! shelter markers are changing colors!
  app/components/shelter_locations_component.rb
  app/components/shelter_locations_component.ts
  app/controllers/shelters_controller.rb
  app/models/shelter_measurement.rb
  app/views/shelters/_marker.html.erb
  app/views/shelters/_popup.html.erb
  app/views/shelters/marker.html.erb
  config/routes.rb
Due: yarn fmt:partial, yarn fix:cops:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

installed chartkick for displaying long term occupancy data on shelter pages.
  Gemfile
  Gemfile.lock
  app/components/shelter_locations_component.ts
  app/controllers/shelters_controller.rb
  app/javascript/application.ts
  app/models/shelter_measurement.rb
  app/views/shelters/_popup.html.erb
  app/views/shelters/_shelter_donut_graph.html.erb
  app/views/shelters/marker.html.erb
  app/views/shelters/popup.html.erb
  app/views/shelters/show.html.erb
  config/importmap.rb
  package.json
  yarn.lock
Due: yarn fmt:partial, yarn fix:cops:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

about to move to another template for donut graph
  app/components/donut_graph_component.html.erb
  app/components/donut_graph_component.rb
  app/models/shelter_measurement.rb
  app/views/shelters/_popup.html.erb
Due: yarn fmt:partial, yarn fix:cops:partial

creates simple partial donut graphs on shelter popups displaying current measurements.
  Gemfile
  app/components/donut_graph_component.html.erb
  app/components/donut_graph_component.rb
  app/views/shelters/_popup.html.erb
Due: yarn fmt:partial, yarn fix:cops:partial

more progress on popup styling and information.
  app/assets/stylesheets/lib/mapbox.css
  app/components/donut_graph_component.html.erb
  app/components/donut_graph_component.rb
  app/components/shelter_locations_component.ts
  app/views/shelters/_popup.html.erb
Due: yarn fmt:partial, yarn fix:cops:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

Map popup UI appears to be done!
  app/components/donut_graph_component.html.erb
  app/views/shelters/_popup.html.erb
Due: none

added a scrollbar to the popup
  app/assets/stylesheets/lib/mapbox.css
  app/views/shelters/_popup.html.erb
  package.json
  tailwind.config.js
  yarn.lock
Due: yarn fmt:partial, yarn fix:eslint:partial

improved styling of popup scrollbar
  app/components/shelter_locations_component.ts
  app/views/shelters/_popup.html.erb
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

fixed a bug where popup data does not update if popup is closed when shelter measurement occurs.
  app/components/shelter_locations_component.ts
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

removes some unecessary commented code. changes styling a bit on popup scrollbar
  app/components/shelter_locations_component.ts
  app/views/shelters/_popup.html.erb
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

added ability to modify max_headcount and max_bedcount in shelter edit page.
  app/components/shelter_form_component.html.erb
  app/controllers/shelters_controller.rb
  app/models/shelter.rb
  app/models/shelter_measurement.rb
  app/views/shelters/_popup.html.erb
  app/views/shelters/show.html.erb
Due: yarn fmt:partial, yarn fix:cops:partial

i've installed graphql/graphiql gems and started building an API for interfacing with the webservice.
  Gemfile
  Gemfile.lock
  app/controllers/graphql_controller.rb
  app/graphql/chalmers_schema.rb
  app/graphql/mutations/.keep
  app/graphql/mutations/base_mutation.rb
  app/graphql/types/.keep
  app/graphql/types/base_argument.rb
  app/graphql/types/base_connection.rb
  app/graphql/types/base_edge.rb
  app/graphql/types/base_enum.rb
  app/graphql/types/base_field.rb
  app/graphql/types/base_input_object.rb
  app/graphql/types/base_interface.rb
  app/graphql/types/base_object.rb
  app/graphql/types/base_scalar.rb
  app/graphql/types/base_union.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/node_type.rb
  app/graphql/types/query_type.rb
  app/graphql/types/shelter_measurement_type.rb
  app/graphql/types/shelter_signal_type.rb
  app/graphql/types/shelter_type.rb
  config/routes.rb
Due: yarn fmt:partial, yarn fix:cops:partial

working on graphql mutation implementation. create-signal-measurement mutation is not working. complains "CreateShelterMeasurement#resolve should execute the field's logic"
  app/graphql/mutations/create_shelter_measurement.rb
  app/graphql/mutations/create_signal_measurement.rb
  app/graphql/types/geo_coordinates.rb
  app/graphql/types/geography_type.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/query_type.rb
  app/graphql/types/shelter_measurement_type.rb
  app/graphql/types/shelter_type.rb
Due: yarn fmt:partial, yarn fix:cops:partial

mutations for creating shelter measurements now works! Next I need to use (devise?) to authenticate a user (or signal) before it's allowed to make a shelterMeasurement.
  app/graphql/mutations/create_shelter_measurement.rb
Due: yarn fmt:partial, yarn fix:cops:partial

added more email addresses to the admin whitelist
  app/models/user.rb
Due: yarn fmt:partial, yarn fix:cops:partial

whitespace changes...
  app/controllers/shelters_controller.rb
Due: yarn fmt:partial, yarn fix:cops:partial

I've created api_key controller/model and added routes for it.
  Gemfile
  Gemfile.lock
  app/controllers/api_keys_controller.rb
  app/graphql/mutations/create_shelter_measurement.rb
  app/models/api_key.rb
  app/models/concerns/api_key_authenticatable.rb
  app/models/shelter_signal.rb
  config/routes.rb
  db/migrate/20230517190033_create_api_keys.rb
  db/schema.rb
Due: yarn fmt:partial, yarn fix:cops:partial

createShelterMeasurement now requires a valid shelter_signal ID and valid API key token.
  app/controllers/api_keys_controller.rb
  app/controllers/graphql_controller.rb
  app/controllers/shelter_signals_controller.rb
  app/graphql/mutations/create_shelter_measurement.rb
  app/views/shelter_signals/show.html.erb
Due: yarn fmt:partial, yarn fix:cops:partial

API keys now have names. Added delete method for API keys on shelter signal show page.
  app/controllers/api_keys_controller.rb
  app/controllers/shelter_signals_controller.rb
  app/models/api_key.rb
  app/views/api_keys/_api_key.html.erb
  app/views/api_keys/_form.html.erb
  app/views/api_keys/new.html.erb
  app/views/api_keys/show.html.erb
  app/views/shelter_signals/show.html.erb
  config/routes.rb
  db/migrate/20230525183812_add_name_to_api_keys.rb
  db/schema.rb
Due: yarn fmt:partial, yarn fix:cops:partial

this branch has api_keys as model/resource. But we're changing to make api_key just a column on a shelter signal
  app/components/api_key_form_component.html.erb
  app/components/api_key_form_component.rb
  app/components/api_key_form_component.scss
  app/controllers/api_keys_controller.rb
  app/controllers/shelter_signals_controller.rb
  app/views/api_keys/_form.html.erb
  app/views/api_keys/create.turbo_stream.erb
  app/views/shelter_signals/new_api_key.html.erb
  app/views/shelter_signals/show.html.erb
  config/routes.rb
Due: yarn fmt:partial, yarn fix:cops:partial

api key model, controller, components have been removed. api_key is now secret_key, a column on shelter_signal. secret_key gets create at time of shelter_signal instatiation.
  app/components/shelter_signal_form_component.html.erb
  app/components/shelter_signal_form_component.rb
  app/controllers/api_keys_controller.rb
  app/controllers/shelter_signals_controller.rb
  app/models/api_key.rb
  app/models/shelter_signal.rb
  app/views/api_keys/_api_key.html.erb
  app/views/api_keys/_form.html.erb
  app/views/api_keys/new.html.erb
  app/views/api_keys/show.html.erb
  app/views/shelter_signals/show.html.erb
  config/routes.rb
  db/migrate/20230517190033_create_api_keys.rb
  db/migrate/20230525183812_add_name_to_api_keys.rb
  db/migrate/20230531215832_add_secret_key_to_shelter_signals.rb
  db/schema.rb
Due: yarn fmt:partial, yarn fix:cops:partial

Rename repo to 'openshelter'; set up for deployment on Fly
  .github/workflows/application.yml
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  Gemfile.lock
  fly.toml
Due: yarn fmt:partial

Add .node-version
  .node-version
  README.md
Due: yarn fmt:partial

Fix check workflow
  .github/workflows/check.yml
Due: yarn fmt:partial

Fix crash when setting up database from scratch when missing 'required_columns'
  app/models/application_record.rb
  lib/rails_ext.rb
Due: yarn fmt:partial, yarn fix:cops:partial

Don't docker-compose up the database when setting up in CI
  bin/setup
Due: none

Actually run migrations when deploying
  bin/release
Due: none

Fix check workflow cont'd
  .github/workflows/check.yml
  Dockerfile
  bin/setup
Due: yarn fmt:partial

fixes secret_key authentication for shelter signals.
  app/controllers/shelter_signals_controller.rb
  app/graphql/chalmers_schema.rb
  app/graphql/mutations/create_shelter_measurement.rb
  app/models/concerns/api_key_authenticatable.rb
  app/models/shelter_measurement.rb
  app/views/shelter_signals/show.html.erb
Due: yarn fmt:partial, yarn fix:cops:partial

Use S3 to store files in production
  fly.toml
Due: none

updated gem lock file
  .vscode/settings.json
  Gemfile.lock
Due: yarn fmt:partial

update redis location in cable.yml
  config/cable.yml
Due: yarn fmt:partial

changes type UUID to type ID in shelter_signal_type graphql
  app/graphql/types/shelter_signal_type.rb
Due: yarn fmt:partial, yarn fix:cops:partial

changes to db connection details.
  config/database.yml
  config/initializers/mailgun.rb
Due: yarn fmt:partial, yarn fix:cops:partial

adds trace ouput to bin/release db:migrate command
  bin/release
Due: none

updates mailgun credentials and domain name.
  config/initializers/mailgun.rb
Due: yarn fmt:partial, yarn fix:cops:partial

I've populated the seeds.rb file with all objects to populate the map with all 24 respite sites in toronto.
  db/seeds.rb
Due: yarn fmt:partial, yarn fix:cops:partial

disabled github deploy workflow as it's broken right now. Fixes some addresses in seeds.rb
  .github/workflows/deploy.yml
  db/seeds.rb
Due: yarn fmt:partial, yarn fix:cops:partial

fixes a couple of typos in shelters for seeds.rb
  db/seeds.rb
Due: yarn fmt:partial, yarn fix:cops:partial
