Repository chalmersproject/openshelter: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn fmt:partial, yarn fix:cops:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

.lintstagedrc.json:

{
  "*.{rb,js,jsx,ts,tsx,css,md,html,json,yaml,yml}": "yarn fmt:partial",
  "*.rb": "yarn fix:cops:partial",
  "*.{js,jsx,ts,tsx}": "yarn fix:eslint:partial",
  "*.{ts,tsx}": "yarn lint:tsc:partial"
}

added missing shelter_signal_form_component. It got left behind in the git history somehow.
  app/components/shelter_signal_form_component.html.erb
  app/components/shelter_signal_form_component.rb
Due: yarn fmt:partial, yarn fix:cops:partial

adds queries for getting data for a shelter signal and getting the most recent measurement made by shelter signal of `id`
  app/graphql/types/query_type.rb
Due: yarn fmt:partial, yarn fix:cops:partial

Surfaces method in graphql for getting shelter data from a signal id.
  app/graphql/types/query_type.rb
  app/models/shelter_signal.rb
Due: yarn fmt:partial, yarn fix:cops:partial

adds map to home screen
  app/views/pages/home.html.erb
Due: none

removes cooperativeGestures from map to make it more intuitive to navigate.
  app/components/location_component.ts
  app/components/shelter_locations_component.ts
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

When you click a shelter marker, center the screen on it (first commit yay!)
  app/components/shelter_locations_component.ts
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

Add to the gitignore file
  .gitignore
Due: none

Add mapbox-gl-geocoder, mapbox-gl types and update types/mapbox-gl
  package.json
Due: yarn fmt:partial

update yarn.lock file
  yarn.lock
Due: none

Hide the search bar if a marker is clicked and show it again when the map is clicked
  app/components/shelter_locations_component.ts
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

Only center the map on the marker if the user is accessing from mobile
  app/components/shelter_locations_component.ts
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

Remove a bunch of unused imports
  app/components/shelter_locations_component.ts
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

Update the README to include instructions for how to get a dev environment setup on Windows through WSL
  README.md
Due: yarn fmt:partial

Gate the behavior to hide the map searchbar when a popup marker is clicked only if the user is accessing from mobile
  app/components/shelter_locations_component.ts
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

adjust slightly the fly to location so that the popup renders in the frame
  app/components/shelter_locations_component.ts
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

Create a helper method to get the user agent for the given session and inject it into the ShelterLocationsComponent Add new user agent parameter to invocation of ShelterLocationComponent
  app/components/shelter_locations_component.html.erb
  app/components/shelter_locations_component.rb
  app/components/shelter_locations_component.ts
  app/helpers/application_helper.rb
  app/views/maps/show.html.erb
  app/views/pages/home.html.erb
Due: yarn fmt:partial, yarn fix:cops:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

Remove redundant home link in the nav bar?
  app/components/header_nav_component.html.erb
Due: none

Make the map properly mobile responsive by rendering the turbo popup underneath the selected marker and keep the behavior on desktop unchanged
  app/components/shelter_locations_component.ts
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

Fix scrolling issue by rendering the mobile popup under the mapbox-map div instead of the mapbox-canvas-container
  app/components/shelter_locations_component.ts
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

On mobile, close the popup view if the user clicks the shelter marker
  app/components/shelter_locations_component.ts
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

Hide the shelter detail view when the user clicks away on mobile
  app/components/shelter_locations_component.ts
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

upgrades all tailwindcss libraries to latest version.
  package.json
  yarn.lock
Due: yarn fmt:partial

Hide the searchbox because it's useless
  app/components/shelter_locations_component.ts
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

Remove whitespace
  app/components/shelter_locations_component.ts
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial

Update yarn.lock file (I don't know why this keeps updating on its own)
  yarn.lock
Due: none

Revert "Update yarn.lock file (I don't know why this keeps updating on its own)"
  yarn.lock
Due: none

Revert "update yarn.lock file"
  yarn.lock
Due: none

updates browserlists.rc with a more default list of build targets for esbuild
  .browserslistrc
  yarn.lock
Due: none

Registration of js components in stimulus is fixed.
  app/components/shelter_locations_component.ts
  app/javascript/controllers/index.js
Due: yarn fmt:partial, yarn fix:eslint:partial, yarn lint:tsc:partial
