Repository chalmersproject/openshelter: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint, yarn lint:typescript

.lintstagedrc.json:

{
  "*.{rb,js,jsx,ts,tsx,css,md,html,json,yaml,yml}": "yarn fmt:partial",
  "*.rb": "yarn fix:rubocop",
  "*.{js,jsx,ts,tsx}": "yarn fix:eslint",
  "*.{ts,tsx}": "yarn lint:typescript"
}

feat: Add SignalType enum, working GraphiQL endpoint via Sprockets
  .rubocop.yml
  Gemfile
  Gemfile.lock
  Rakefile
  app/assets/config/manifest.js
  app/graphql/schema.rb
  app/graphql/types/query_type.rb
  app/graphql/types/signal_type.rb
  app/graphql/types/signal_type_type.rb
  app/models/signal_type.rb
  app/models/signal_type_type.rb
  config/application.rb
  config/initializers/models.rb
  config/initializers/rails_admin.rb
  config/routes.rb
  lib/remix/proxy.rb
  package.json
  sorbet/rbi/gems/ffi@1.15.5.rbi
  sorbet/rbi/gems/graphql@1.13.6.rbi
  sorbet/rbi/gems/sassc-rails@2.1.2.rbi
  sorbet/rbi/gems/sassc@2.4.0.rbi
  sorbet/rbi/gems/sprockets-rails@3.4.2.rbi
  sorbet/rbi/gems/sprockets@4.0.2.rbi
  sorbet/rbi/gems/tilt@2.0.10.rbi
  sorbet/rbi/sorbet-typed/lib/graphql/all/graphql.rbi
  sorbet/tapioca/lib/.rubocop.yml
  sorbet/tapioca/lib/actionpack.rb
  sorbet/tapioca/lib/activerecord.rb
  sorbet/tapioca/lib/activesupport.rb
  sorbet/tapioca/lib/graphiql-rails.rb
  sorbet/tapioca/lib/graphql.rb
  sorbet/tapioca/lib/rails_admin.rb
  sorbet/tapioca/require.rb
Due: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint

feat: Configure nginx, jbuilder templates, etc.
  .devcontainer/Dockerfile
  .editorconfig
  .env.example
  .rubocop.yml
  Procfile
  Procfile.dev
  app/controllers/accounts_controller.rb
  app/controllers/application_controller.rb
  app/root.tsx
  app/routes/account/index.tsx
  app/routes/account/login.tsx
  app/utils/rails/remix.ts
  app/utils/remix.tsx
  app/utils/superstruct/remix.ts
  app/views/.rubocop.yml
  app/views/accounts/show.json.jbuilder
  app/views/errors/_validation.json.jbuilder
  config/application.rb
  config/environments/development.rb
  config/initializers/parameters.rb
  config/puma.rb
  lib/log_formatter.rb
  nginx.conf
  package.json
  yarn.lock
Due: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint, yarn lint:typescript

feat: Configure GraphQL subscriptions w/ ActionCable
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  apollo.config.js
  app/channels/application_cable/connection.rb
  app/channels/graphql_channel.rb
  app/controllers/graphql_controller.rb
  app/graphql/schema.generated.ts
  app/models/user.rb
  app/routes/account/index.tsx
  app/routes/account/login.tsx
  app/utils/apollo.tsx
  app/utils/cable.client.ts
  codegen.yml
  config/initializers/authlogic.rb
  config/routes.rb
  lib/tasks/annotate.rake
  package.json
  sorbet/config
  sorbet/rbi/gems/graphql@1.13.6.rbi
  sorbet/rbi/shims/api/application_api.rbi
  sorbet/rbi/shims/channels/channel.rbi
  sorbet/rbi/shims/channels/connection.rbi
  sorbet/tapioca/shims/graphql.rb
  test/fixtures/users.yml
  test/models/user_test.rb
  yarn.lock
Due: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint, yarn lint:typescript

feat(rails): Improve logging of GraphQL queries
  app/channels/application_cable/connection.rb
  app/channels/graphql_channel.rb
  app/controllers/application_controller.rb
  app/controllers/auth_controller.rb
  app/controllers/graphql_controller.rb
  app/graphql/schema.rb
  app/models/session.rb
  app/models/user_session.rb
  app/routes/account/index.tsx
  app/routes/account/login.tsx
  config/application.rb
  config/initializers/graphql.rb
  lib/graphql.rb
  package.json
  sorbet/rbi/shims/models/session.rbi
  test/fixtures/users.yml
Due: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint, yarn lint:typescript

config: Remove unused configs and package.json scripts
  package.json
  postcss.config.js
  tailwind.config.js
Due: yarn fmt:partial, yarn fix:eslint

feat(rails): Add Shelter model, type, mutation
  .env.example
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/controllers/graphql_controller.rb
  app/graphql/mutations/base_mutation.rb
  app/graphql/mutations/create_shelter.rb
  app/graphql/schema.rb
  app/graphql/subscriptions/base_subscription.rb
  app/graphql/types/base_field.rb
  app/graphql/types/base_input_object.rb
  app/graphql/types/base_interface.rb
  app/graphql/types/base_object.rb
  app/graphql/types/base_union.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/query_type.rb
  app/graphql/types/shelter_type.rb
  app/graphql/types/user_type.rb
  app/graphql/types/validation_error_type.rb
  app/models/shelter.rb
  config/application.rb
  db/migrate/20220202162229_create_shelters.rb
  db/schema.rb
  package.json
  sorbet/rbi/dsl/active_support/test_case.rbi
  sorbet/rbi/dsl/shelter.rbi
  sorbet/rbi/gems/phonelib@0.6.55.rbi
  sorbet/tapioca/shims/graphql.rb
  test/fixtures/shelters.yml
  test/models/shelter_test.rb
Due: yarn fmt:partial, yarn fix:rubocop

feat: Configure rails_admin, load Sessions w/o controller
  .gitignore
  .prettierignore
  Gemfile
  Gemfile.lock
  Procfile
  app/assets/root.css
  app/channels/application_cable/connection.rb
  app/graphql/apollo.generated.ts
  app/graphql/schema.generated.ts
  app/models/session.rb
  app/models/shelter.rb
  app/routes/account/index.tsx
  app/utils/authlogic_finder.rb
  app/utils/authlogic_request_adapter.rb
  app/utils/route_constraints.rb
  config/application.rb
  config/initializers/rails_admin.rb
  config/locales/en.yml
  config/nginx.conf
  config/nginx.dev.conf
  config/routes.rb
  db/schema.rb
  package.json
  remix.config.js
  test/fixtures/shelters.yml
  test/fixtures/users.yml
  tsconfig.json
  yarn.lock
Due: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint, yarn lint:typescript

feat: Make user editable in Admin, move app/utils -> lib
  .prettierignore
  .rubocop.yml
  Gemfile.lock
  apollo.config.js
  app/components/apollo.tsx
  app/components/csrf.tsx
  app/models/application_record.rb
  app/models/session.rb
  app/models/user.rb
  app/root.tsx
  app/routes/account/index.tsx
  app/routes/account/login.tsx
  chalmersproject.com.code-workspace
  codegen.yml
  config/routes.rb
  lib/apollo/client.ts
  lib/apollo/remix.ts
  lib/authlogic_request_adapter.rb
  lib/cable.client.ts
  lib/config.ts
  lib/csrf.tsx
  lib/graphql/apollo.generated.ts
  lib/graphql/schema.generated.json
  lib/graphql/schema.generated.ts
  lib/log_formatter.rb
  lib/mantine.ts
  lib/route_constraints.rb
  lib/routes_ext.rb
  package.json
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/shims/lib/activesupport.rbi
  sorbet/rbi/shims/lib/rails_admin.rbi
  tsconfig.json
  yarn.lock
Due: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint, yarn lint:typescript

feat: Don't watch query on client (require refresh after mutations)
  Gemfile
  Gemfile.lock
  app/admin/shelters_admin.rb
  app/assets/stylesheets/trestle/_theme.scss
  app/channels/graphql_channel.rb
  app/components/app.tsx
  app/components/csrf.tsx
  app/components/mantine.tsx
  app/controllers/graphql_controller.rb
  app/controllers/meta_controller.rb
  app/graphql/apollo.generated.ts
  app/graphql/resolver_helpers.rb
  app/graphql/schema.generated.json
  app/graphql/schema.generated.ts
  app/graphql/types/query_type.rb
  app/root.tsx
  app/utils/apollo/client.ts
  app/utils/apollo/remix.ts
  app/utils/csrf.ts
  app/utils/mantine.ts
  codegen.yml
  config/initializers/trestle.rb
  config/routes.rb
  lib/graphql_ext.rb
  lib/route_constraints.rb
  package.json
  sorbet/rbi/gems/activerecord@7.0.1.rbi
  sorbet/rbi/gems/trestle@0.9.5-be01ce94429df4d5e2db98c393f3151d8cfe250c.rbi
  sorbet/rbi/shims/lib/railties.rbi
  sorbet/rbi/shims/lib/trestle.rbi
  yarn.lock
Due: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint, yarn lint:typescript

fix: Login works properly again
  app/components/apollo.tsx
  app/components/app.tsx
  app/components/csrf.tsx
  app/controllers/graphql_controller.rb
  app/graphql/types/base_object.rb
  app/graphql/types/query_type.rb
  app/graphql/types/signal_type_type.rb
  app/graphql/types/subscription_type.rb
  app/graphql/types/validation_error_type.rb
  app/root.tsx
  app/routes/account/index.tsx
  app/routes/account/login.tsx
  app/routes/index.tsx
  app/utils/apollo/remix.tsx
Due: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint, yarn lint:typescript

refactor: Make app/utils contain only... utils :)
  apollo.config.js
  app/channels/cable.client.tsx
  app/components/apollo.tsx
  app/components/app.tsx
  app/components/mantine.tsx
  app/controllers/auth_controller.rb
  app/graphql/apollo/client.ts
  app/graphql/apollo/helpers.generated.ts
  app/graphql/apollo/link.client.ts
  app/graphql/apollo/link.ts
  app/graphql/schema.generated.ts
  app/root.tsx
  app/routes/account/index.tsx
  app/routes/account/login.tsx
  app/theme.ts
  app/utils/apollo.tsx
  codegen.yml
  config/application.ts
  package.json
  sorbet/tapioca/config.yml
  yarn.lock
Due: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint, yarn lint:typescript

feat: Add logout route, improved routing
  Gemfile
  app/components/apollo.tsx
  app/components/app.tsx
  app/components/csrf.tsx
  app/components/errors.tsx
  app/controllers/auth_controller.rb
  app/graphql/apollo/client.ts
  app/root.tsx
  app/routes/account.tsx
  app/routes/account/index.tsx
  app/routes/account/login.tsx
  app/routes/account/logout.tsx
  app/utils/apollo.tsx
  app/utils/errors.tsx
  config/application.ts
  sorbet/rbi/shims/lib/activesupport.rbi
Due: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint, yarn lint:typescript

Fix build pipeline (correct image repo)
  .github/workflows/application.yml
Due: yarn fmt:partial

Updated icons and layout; scaffold map page
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/components.css
  app/components/action_bar_component.css
  app/components/action_bar_component.html.erb
  app/components/action_bar_component.rb
  app/components/file_input_component.html.erb
  app/components/flash_component.css
  app/components/flash_component.html.erb
  app/components/header_menu_component.html.erb
  app/components/header_nav_component.html.erb
  app/components/header_nav_component.rb
  app/components/location_component.html.erb
  app/components/location_component.ts
  app/components/menu_component.css
  app/components/menu_component.rb
  app/controllers/maps_controller.rb
  app/models/concerns/named.rb
  app/views/layouts/application.html.erb
  app/views/maps/show.html.erb
  app/views/pages/home.html.erb
  app/views/shelters/_layout.html.erb
  app/views/shelters/show.html.erb
  config/routes.rb
Due: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint, yarn lint:typescript

Minor refactors & stylistic updates
  app/assets/stylesheets/components.css
  app/components/avatar_component.html.erb
  app/components/header_component.html.erb
  app/components/pagination_component.css
  app/helpers/application_helper.rb
  app/helpers/devise_helper.rb
  app/helpers/meta_tags_helper.rb
  app/models/application_record.rb
  app/models/concerns/galleryable.rb
  app/models/concerns/named.rb
  app/models/concerns/slugged.rb
  app/views/kaminari/_next_page.html.erb
  app/views/kaminari/_prev_page.html.erb
  app/views/layouts/application.html.erb
  app/views/maps/show.html.erb
  app/views/shelters/show.html.erb
Due: yarn fmt:partial, yarn fix:rubocop

Allow configuration of geocoder service via GEOCODER_SERVICE
  .env.example
  config/initializers/geocoder.rb
Due: yarn fmt:partial, yarn fix:rubocop

Deploy with fly.io
  fly.toml
Due: none

updated lock file
  Gemfile.lock
Due: none

fixed bug where module checks were run before db migration was complete and would always fail.
  app/models/application_record.rb
Due: yarn fmt:partial, yarn fix:rubocop

near random change attempts just throwing crap at the wall to see what sticks for flyio to successfully deploy this. Missing postgis install for db right now.
  .prettierrc
  Dockerfile
  Gemfile
  Gemfile.lock
  config/database.yml
  fly.toml
  lib/tasks/fly.rake
Due: yarn fmt:partial

comments out Rubocop-lsp because it's now included in rubocop gem
  Gemfile
Due: none

removes some configs from database.yml to help with setting up local development environment.
  Gemfile.lock
  config/database.yml
  db/schema.rb
Due: yarn fmt:partial, yarn fix:rubocop

adds postgres port field to .env.example
  .env.example
Due: none

passes shelter instance object into maps show view
  Gemfile
  Gemfile.lock
  app/controllers/maps_controller.rb
  app/views/maps/show.html.erb
  db/schema.rb
Due: yarn fmt:partial, yarn fix:rubocop

adds views, components, controllers, models for shelter and shelter view.
  Gemfile
  Gemfile.lock
  app/components/shelter_locations_component.html.erb
  app/components/shelter_locations_component.rb
  app/components/shelter_locations_component.ts
  app/components/shelter_signal_form_component.html.erb
  app/components/shelter_signal_form_component.rb
  app/controllers/maps_controller.rb
  app/controllers/shelter_signals_controller.rb
  app/models/shelter.rb
  app/models/shelter_measurement.rb
  app/models/shelter_signal.rb
  app/policies/shelter_signal_policy.rb
  app/views/maps/show.html.erb
  app/views/shelter_signals/_breadcrumbs.html.erb
  app/views/shelter_signals/_layout.html.erb
  app/views/shelter_signals/_meta_tags.html.erb
  app/views/shelter_signals/edit.html.erb
  app/views/shelter_signals/index.html.erb
  app/views/shelter_signals/new.html.erb
  app/views/shelter_signals/show.html.erb
  app/views/shelters/_shelter.html.erb
  app/views/users/show.html.erb
  config/routes.rb
  db/migrate/20230124234853_create_shelter_signals.rb
  db/migrate/20230124235332_create_shelter_measurements.rb
  db/schema.rb
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/shelter_measurement.rbi
  sorbet/rbi/dsl/shelter_signal.rbi
  sorbet/rbi/dsl/shelter_signals_controller.rbi
Due: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint, yarn lint:typescript

shelter map has popup. Popup displays values for occupancy and bed count.
  app/components/shelter_locations_component.rb
  app/components/shelter_locations_component.ts
  app/controllers/shelters_controller.rb
  app/models/shelter.rb
  app/models/shelter_measurement.rb
  app/models/shelter_signal.rb
  app/views/pages/home.html.erb
  app/views/shelter_signals/show.html.erb
  app/views/shelters/popup.html.erb
  config/routes.rb
  db/migrate/20230127224241_add_capacity_properties_to_shelters.rb
  db/schema.rb
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/shelter.rbi
  tailwind.config.js
Due: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint, yarn lint:typescript

WIP custom markers for map.
  app/components/shelter_locations_component.ts
  app/views/shelters/marker.html.erb
Due: yarn fmt:partial, yarn fix:eslint, yarn lint:typescript

small changes to marker styling testing
  app/components/shelter_locations_component.ts
Due: yarn fmt:partial, yarn fix:eslint, yarn lint:typescript

tried using turbo streams to send shelter occupancy data to map popup. does not work!
  app/components/shelter_locations_component.html.erb
  app/components/shelter_locations_component.rb
  app/components/shelter_locations_component.ts
  app/controllers/shelters_controller.rb
  app/views/maps/show.html.erb
  app/views/shelters/_popup.html.erb
  app/views/shelters/popup.turbo_stream.erb
Due: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint, yarn lint:typescript

screwing around with a mapbox gem instead of doing it in typescript.
  Gemfile
  Gemfile.lock
  app/components/shelter_locations_component.rb
  app/components/shelter_locations_component.ts
  app/controllers/shelter_signals_controller.rb
  app/controllers/shelters_controller.rb
  app/javascript/application.ts
  app/views/shelter_signals/measure.turbo_stream.erb
  app/views/shelter_signals/show.html.erb
  app/views/shelters/popup.html.erb
  app/views/shelters/popup.turbo_stream.erb
  config/importmap.rb
  package.json
  yarn.lock
Due: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint, yarn lint:typescript

light formatting of popup typescript
  app/components/shelter_locations_component.ts
Due: yarn fmt:partial, yarn fix:eslint, yarn lint:typescript

turbo stream now updates popup data on commit of shelter measurement.
  Gemfile
  Gemfile.lock
  app/javascript/application.ts
  app/models/shelter_measurement.rb
  app/views/maps/show.html.erb
  app/views/shelters/_popup.html.erb
  config/cable.yml
  package.json
  yarn.lock
Due: yarn fmt:partial, yarn fix:rubocop, yarn fix:eslint, yarn lint:typescript
